#loading-overlay--spinner {
    color: white;
    font-size: 2rem;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}