# Base URL of the Backend OLOG service. API calls will be made
# relative to this service URL.
REACT_APP_BASE_URL=http://localhost:8080/Olog
# Values in the "level" drop-down
REACT_APP_LEVEL_VALUES=["Normal","Shift Start","Shift End","Fault","Beam Loss","Beam Configuration","Crew","Expert Intervention Call","Incident"]