{
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "import",
    "cypress",
    "prettier",
    "react-refresh"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:cypress/recommended",
    "plugin:prettier/recommended",
    "plugin:import/typescript",
    "plugin:import/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "alias": {
        "map": [
          ["src", "./src"],
          ["config", "./src/config"],
          ["components", "./src/components"],
          ["views", "./src/views"],
          ["hooks", "./src/hooks"],
          ["beta", "./src/beta"],
          ["providers", "./src/providers"],
          ["features", "./src/features"],
          ["api", "./src/api"],
          ["lib", "./src/lib"],
          ["mocks", "./src/mocks"],
          ["stories", "./src/stories"],
          ["test-utils", "./src/test-utils"]
        ],
        "extensions": [".ts", ".tsx", ".js", ".jsx", ".json"]
      },
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/prop-types": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "external",
          "index",
          "sibling",
          "parent",
          "internal",
          "builtin",
          "object",
          "type"
        ]
      }
    ],
    "import/no-named-as-default": "error",
    "import/no-named-as-default-member": "error",
    "import/no-unresolved": [
      "error",
      { "caseSensitive": false, "commonjs": true, "amd": true }
    ],
    "import/no-duplicates": "error",
    "consistent-this": ["error", "self"],
    "default-case": "error",
    "dot-notation": "error",
    "eqeqeq": [
      "error",
      "always",
      {
        "null": "ignore"
      }
    ],
    "no-console": [
      "error",
      {
        "allow": ["warn", "error", "info", "debug"]
      }
    ],
    "no-eval": "error",
    "no-implied-eval": "error",
    "no-lone-blocks": "error",
    "no-nested-ternary": "error",
    "no-object-constructor": "error",
    "no-octal-escape": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-undef-init": "error",
    "no-unused-expressions": "error",
    "operator-assignment": ["error", "always"],
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true
      }
    ],
    "radix": "error",
    "yoda": "error",
    "react/jsx-boolean-value": "warn",
    "react/no-danger": "warn",
    "react/no-multi-comp": [
      "warn",
      {
        "ignoreStateless": true
      }
    ],
    "react/prefer-es6-class": "warn",
    "react/self-closing-comp": "error",
    "react-refresh/only-export-components": "warn",
    "curly": ["error", "all"]
  },
  "overrides": [
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-require-imports": "off"
      }
    },
    {
      "files": ["**/mocks/mockAPI.js", "**/index.js", "cypress.config.js"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-require-imports": "off"
      }
    },
    {
      "files": [
        "**/*.spec.js",
        "**/*.spec.jsx",
        "**/*.spec.ts",
        "**/*.spec.tsx",
        "*.test.js",
        "setupTests.js",
        "*.tsx",
        "*.ts",
        "*.jsx",
        "*.js",
        "*.cy.js"
      ]
    }
  ]
}
