.failureStyle {
    color: red;
    marginTop: 10px;
    marginLeft: 2px;
}

.cell-style{
    background-color: #f5f5f5;
    margin: 3px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding-right: 0px;
    padding-left: 0px;
}

.olog-ul{
    list-style-type: none;
    padding-inline-start: 0px;
}

.search-list-item{
    background-color: #f5f5f5;
    border: 3px solid #e3e3e3;
    border-radius: 4px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.banner-row{
    background-color: #343a40;
}

.grid-item{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding-right: 0px;
    padding-left: 0px;
}

html{
    height: 100%;
}

body{
    height: 100%;
}

#root{
    height: 100%;
    font-size: 12px;    
}

.full-height{
    height: 100%;
}

.olog-col{
    padding: 2px;
}

.selection{
    background-color: #f2c889;
    border-radius: 2px;
    color: #945203;
    display: inline-block;
    padding: 3px;
    margin: 3px;
    border: #bbbbbb 1px solid;
}

.delete-selection{
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 2px;
}

.delete-selection:hover{
    cursor: pointer;
}

.selection-dropdown{
    width: 100px;
}

#attachements > div{
    float: left;
    margin: 10px;
    font-size: 10px;
}

.attachment{
    width: 200px;
    margin: 5px;
}

.form-row{
    padding: 5px;
}

.new-entry{
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: 0px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.add-button{
    margin-bottom: 3px;
    margin-right: 3px;
}

.form-error-label{
    font-size: 10px;
    color: #dc3545;
}

.property-editor{
    padding-left: 0px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
}

button.property-table-button{
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
}

.list-item table{
    background-color: white;
}

.list-item table>tbody>tr>td{
    padding: 0.1rem;
}

.search-fields-table tbody>tr>td{
    vertical-align: middle;
}