.failureStyle {
    color: red;
    margin-top: 10px;
    margin-left: 2px;
}

.cell-style{
    background-color: #f5f5f5;
    margin: 3px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding-right: 0px;
    padding-left: 0px;
}

.olog-ul{
    list-style-type: none;
    padding-inline-start: 8px;
}

.banner-row{
    background-color: #343a40;
}

.grid-item{
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding-right: 0px;
    padding-left: 0px;
}

.filters{
    background-color: #f5f5f5;
}

html{
    height: 100%;
}

body{
    height: 100%;
}

#root{
    height: 100%;
    font-size: 12px;    
}

.full-height{
    height: 100%;
}

.olog-col{
    padding: 2px;
}

.selection{
    background-color: #f2c889;
    border-radius: 2px;
    color: #945203;
    display: inline-block;
    padding: 3px;
    margin: 3px;
    border: #e3e3e3 1px solid;
}

.delete-selection{
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 2px;
}

.delete-selection:hover{
    cursor: pointer;
}

.selection-dropdown{
    width: 100px;
}

#attachements > div{
    float: left;
    margin: 10px;
    font-size: 10px;
}

.attachment{
    width: 200px;
    margin: 5px;
}

.form-row{
    padding: 5px;
}

.new-entry{
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: 0px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.add-button{
    margin-bottom: 3px;
    margin-right: 3px;
}

.form-error-label{
    font-size: 10px;
    color: #dc3545;
}

.property-editor{
    padding-left: 0px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
}

button.property-table-button{
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
}


.list-item table>tbody>tr>td{
    border-top: none;
    padding: 0.1rem;
    padding-left: 5px;
    padding-right: 5px;
}

.list-item{
    border-color: transparent transparent #e4e4e4 transparent;
    border-style: solid;
    border-width: 1px;
}

.search-fields-table tbody>tr>td{
    vertical-align: middle;
    border: none;
}

.accordion-card-header{
    width: 100%;
    text-align: left
}

.log-details-title{
    font-weight: 200;
    font-size: 20px;
    border-bottom: #e3e3e3 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.log-details-meta-data{
    border-bottom: #e3e3e3 1px solid;
}

.log-details-meta-data table>tbody>tr>td{
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
}

.log-details-meta-data table>tbody>tr>td:nth-child(1){
    text-align: right;
    width: 100px;
}


blockquote{
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}

.olog-table {
    border-collapse: collapse;
}
  
.olog-table  td, .olog-table  th {
    border: 1px solid #ddd;
    padding: 3px;
}
  
.olog-table tr:nth-child(even){background-color: #f2f2f2;}
  
.olog-table tr:hover {background-color: #ddd;}
  
.olog-table  th {
    text-align: left;
    background-color: #0095CA;
    color: white;
}

.separator{
    padding: 5px;
    font-weight: 300;
    font-size: 18px;
    background-color: #f7f7f7;
}

.grouped-item{
    background-color:#e8edee;
}

.selected-log-entry{
    background-color: #c8e0f4;
}

.pagination-container{
    border-color: #e4e4e4 transparent transparent transparent;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 3px;
}

.pagination-container .form-label{
    margin-top: 18px;
    width: 100px;
}

.pagination-container>.container>.row>.col>.form-control-sm{
    font-size: 12px;
    margin-top: 12px;
    width: 40px;
}

.pagination>.page-item>.page-link{
    font-size: 14px;
    width: 35px;
    text-align: center;
}

.attachment-icon{
    background:
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaRJREFUeNpi/P//PwMMMDIywtmbdx2azsjIlAESAomzMDOvdXOwCEFWD9aDzYDNuw4f/P/vn92te48Yvv/8zcAAVMPExMTw6cvXmo7q7FZkA5gYsABmJiag5scMly9fmlRbmGTy9dObSZzsbAxM/38boqvFbgAzE8OPXz8ZFk7vbgdyz545uqdPXlaSgY2dIxhdLQsy58jJ8/93HzwB8gvDP4jPXoAIQQGBJywsLNjsQnXBxy9foaz/DP/+/YGLr169+i8jVreiuQAGQAH7589fFFexsjATdgGqIRD6/afPEIVMRBkA0fXj5y+gBjSVjP+Jd8G9h08YbC2MGLbvO/L/+/cfqE7CZwAsIRWlx5gcPXGe4cSZywxXb9xlaCzLNPnPQEQg/v39F8Y8C9KEJHUW5j28Lvj0+csdEL1kzbb/EE0QvHXPkf+PHr9g+Pj50x0GjKBBzQta9V3Tr8pJizPIyUgB08I/sNcfPX3O8PT5K5BXtIHqrxHKTMb5tR0rBHj5VWDi7z+8Oz2prToT5BqiciMQaAExJ5I6UGK4BUtkyAAgwADpI74wMt7OZAAAAABJRU5ErkJggg==')
        no-repeat
        left center;
        height: 26px;
        width: 20px;
        float: right;
        position: relative;
    }
